<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      <!-- CSS -->
      <link rel="stylesheet" href="{{ get_url(path="print.css", trailing_slash=false) }}" media="print">
      <link rel="stylesheet" href="{{ get_url(path="poole.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="{{ get_url(path="hyde.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="{{ get_url(path="karrq.css", trailing_slash=false)}}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

      {% if config.generate_rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
      {% endif %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body class="{{ config.extra.hyde_theme }} {% if config.extra.hyde_reverse %}layout-reverse{% endif %}">
        {% block sidebar %}
            <div class="sidebar">
                <div class="container {% if config.extra.hyde_sticky %}sidebar-sticky{% endif %}">
                    <div class="sidebar-about">
                        {% block sidebar_about %}
                            <a href="{{ config.base_url }}"><h1>{{ config.title }}</h1></a>
                            {% if config.description %}
                            <p class="lead">{{config.description}}</p>
                            {% endif %}
                        {% endblock sidebar_about %}
                    </div>

                    <ul class="sidebar-nav">
                        {% block sidebar_nav %}
                        {% for link in config.extra.hyde_links %}
                        <li class="sidebar-nav-item"><a href="{{link.url}}">{{link.name}}</a></li>
                        {% endfor %}
                        {% endblock sidebar_nav %}
                    </ul>
                    
                    <div class="sidebar-footer">
                      {% block sidebar_footer %}
                      <p>© {{now() | date(format="%Y")}} Francesco Dainese</p>
                      {% endblock sidebar_footer %}
                    </div>
                </div>
            </div>
        {% endblock sidebar %}
        
        {% block content_header %}{% endblock content_header %}

        <div class="content container">
            {% block content %}
                <div class="posts">
                    {% for page in section.pages | reverse %}
                    {% set hidden = page.extra.hidden | default(value=false) %}
                    {% if hidden == false %}
                      <div class="post">
                        <h1 class="post-title">
                          <a href="{{ page.permalink }}">
                            {{ page.title }}
                          </a>
                        </h1>

                        <div class="post-meta">
                            {% if page.date %}
                            <div class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</div>
                            {% endif %}
                            <div class="post-readtime">{{ page.reading_time }}m read</div>
                            <div class="clear"></div>
                        </div>

                        {% if page.summary %}
                        <div class="post-summary">{{ page.summary | safe }}</div>
                        <a class="post-continue" href="{{ page.permalink }}#continue-reading">Continue Reading</a>
                        {% endif %}
                      </div>
                    {% endif %}
                    {% endfor %}
                </div>
            {% endblock content %}
        </div>

        {% block content_footer %}{% endblock content_footer %}
    </body>

</html>
