{% extends "index.html" %}

{% block content %}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div>
  <span class="post-date">{% if page.date %}{{ page.date | date(format="%Y-%m-%d") }}{% endif %}</span>
  <div class="clear"></div>
  </div>
  {{ page.content | safe }}
</div>
{% endblock content %}

